.header {
    background-color: #CF99FA;
    width: 100%;
    height: 100px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
}

.header a {
    line-height: 100px;
    color: #2A2929;
    text-decoration: none;
    font-size: 60px;
    font-family: 'TM Vinograd';
}

body {
    background-color: #2A2929;
}

.body_content {
    margin-top: 100px;
}

.side_menu {
    height: 100%;
    width: 320px;
    position:fixed;
    left: 0;
    
}

.side_menu ul {
    height: 95%;
    list-style-type: none;
    margin: 0;
    margin-top: 3px;
    overflow-y: scroll;
}

.side_menu ul::-webkit-scrollbar {
    display: none;
}

.side_menu li {
    width: 100%;
    height: 60px;
    margin-bottom: 3px;
    text-align: center;
    margin-left: -40px;
    line-height: 60px;
    opacity: 100%;
    
}

.side_menu li:hover{
    opacity: 90%;
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
}

.side_menu li a{
    color: #2A2929;
    font-size: 32px;
    font-family: 'TM Vinograd Filled';
    text-decoration: none;
}

@font-face {
    font-family: 'TM Vinograd'; 
    src: url("../fonts/TMVinograd-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: 'TM Vinograd Filled';
    src: url("../fonts/TMVinograd-Filled.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
